
@import "bootstrap\bootstrap.less";
@import "bootstrap\variables.less";
@import "bootstrap\bootswatch-cerulean.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: See humans.txt
   ========================================================================== */
@mandatoryRed: #FF4A4A;

textarea {
	resize: vertical;
}

div.welcome-text {
    text-align: center;
}

.notes {
    .note-actions {
        width: 1%;
    }
    
    .note-display {
       width: 74%;
    }
    
    .note-when {
       width: 24%;
    }
}

.mandatory-star {
    color: @mandatoryRed;
}

/* Override width */
@media (max-width: 767px) {
    [class*="span"],
    .row-fluid [class*="span"] {
        width: 100%;
    }
}










